.container{
    width: 100%;
    float: none;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border: 10px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    padding-bottom: 10px;
    background-color: #DDDDDD;
}

img{
    background-color: #FFFFFF;
}

.art-container{
    float: none;
    margin-left: auto;
    margin-right: auto;
    border: 2px;
    padding: 10px;
}

h1{
    padding-top: 10px;
    text-align: center;
}
h3{
    padding-top: 10px;
    text-align: center;
}